

section .hotTopicWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;

}

.hotTopics{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    background: #f8f8f8;
    padding: 1em 1em 0.5em;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(107, 107, 107);
    margin-top: 1.5em;
    width: 15em;
}
.hotTopics h4 {
    font-weight: 500 0.06px ;
    margin: 1em 0em;
}

.hotTopics h5 {
    margin:0;
    font-weight:200;
}

.topicUser{
    color: #4b55eb;
}

.footer{
    font-size: 0.6em;
}