.avatar {
    background: gray;
    width: 2em;
    height:2em;
    border-radius: 100px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchBar input {
    border: 1px rgb(255, 255, 255) solid;
    width: 7em;
    align-self: center;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 9px;
    box-shadow: -3px 1px 3px rgb(226 226 226);
}
  
.searchBar input:focus {
    outline:none;
}

.searchBar button {
    margin: 0;
    font-style: bold;
    color: rgba(124, 124, 124, 0.568);
    text-decoration: none;
    border: 1px gray solid;
}

a{
    text-decoration: none;
    color: black;
}
