.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70rem;
    flex-wrap: nowrap;
    margin: auto;
}
.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:salmon;
    border:solid;
    border-radius: 50px;
    width: 100%;
    max-width: 40rem;
    min-width: 20rem;
 }

 li {
     padding: 1em;
 }

 li:hover {
     text-decoration:underline;
     color: white;
 }
 a{
     text-decoration: none;
     color: black;
 }

 .empty {
     width:2em;
     
 }